// **********
// * These styles will be set dynamically at some point
// **********

$blockX: 16px;
$blockY: 20px;
$fw: $blockX * 40;
$fh: $blockY * 25;

$bmf: bm, verdana, sans-serif;
$m7f: m7, courier, monospace;

$black: #000;
$red: #f00;
$green: #0f0;
$yellow: #ff0;
$blue: #00f;
$magenta: #f0f;
$cyan: #0ff;
$white: #fff;
$cblue: #00007f; //control color

.b_BK, .toolset .f_BK { background-color: $black !important; }
.b_R, .toolset .f_R { background-color: $red !important; }
.b_G, .toolset .f_G { background-color: $green !important; }
.b_Y, .toolset .f_Y { background-color: $yellow !important; }
.b_BL, .toolset .f_BL { background-color: $blue !important; }
.b_M, .toolset .f_M { background-color: $magenta !important; }
.b_C, .toolset .f_C { background-color: $cyan !important; }
.b_W, .toolset .f_W { background-color: $white !important; }

.f_BK, .f_BK .marquee-text { color: $black; }
.f_R, .f_R .marquee-text { color: $red; }
.f_G, .f_G .marquee-text { color: $green; }
.f_Y, .f_Y .marquee-text { color: $yellow; }
.f_BL, .f_BL .marquee-text { color: $blue; }
.f_M, .f_M .marquee-text { color: $magenta; }
.f_C, .f_C .marquee-text { color: $cyan; }
.f_W, .f_W .marquee-text { color: $white; }

// ** End dynamic styles


// **********
// * Tags
// **********

body {
    position: relative;
}


// **********
// * Layout
// **********

#tools, #canvas {
    float: left;
}

#tools {
    div.toolset {
        float: left;
        margin-right: 10px;
        padding: 10px;
        width: 80px;
        ul {
            border: 3px inset #ccc;
            padding: 5px;
            width: 25px;
            li {
                border: 2px inset #ccc;
                margin-bottom: 5px;
                opacity: .4;
                &.selected {
                    border-style: outset;
                    opacity: 1;
                }
                a {
                    display: block;
                    height: 20px;
                    width: 20px;
                }
            } 
        }
    }
}

#canvas {
    background: #000;
    height: $fh;
    margin-right: 20px;
    position: relative;
    width: $fw;
    table#grid, table#preview-grid {
        position: absolute;
        left: 0;
        height: 100%;
        top: 0;
        width: 100%;
        td {
            height: $blockY;
            width: $blockX;
            &.overlapping {
            }
            &:hover {
                background-color: #fff;
            }
        }
    }
    #marquee-layer {
        left: 0;
        position: absolute;
        top: 0;
    }
    #marquee {
        background: #333;
        height: $blockY;
        position: absolute;
        width: $blockX;
        z-index: 1;
        table {
            width: 100%;
            height: 100%;
            td {
                height: 100%;
            }
            .control-left, .control-right {
                background: $cblue;
                display: none;
                width: $blockX;

            }
            .action {
                .marquee-text {
                    border: 0;
                    background: transparent;
                    display: none;
                    float: left;
                    font: normal 16px/20px ttx2;
                    height: 100%;
                    letter-spacing: 3px;
                    outline: none;
                    padding: 0;
                    position: relative;
                    resize: none;
                    z-index: 100;
                }
            }
        }
        &.foreground table .action .marquee-text {
            display: block;
        }
        &.graphics table .action .marquee-text {
            font: normal 20px/20px ttx2gra;
            letter-spacing: 0;
        }
        .ui-resizable-se {
        }
    }
}

#tester {
background: black;
    color: white;
    font: normal 20px/20px ttx2gra;
}
