// **********
// * These styles will be set dynamically at some point
// **********

$blockX: 12px;
$blockY: 20px;
$fw: $blockX * 40;
$fh: $blockY * 25;

$bmf: bm, verdana, sans-serif;
$m7f: m7, courier, monospace;

$black: #000;
$red: #f00;
$green: #0f0;
$yellow: #ff0;
$blue: #00f;
$magenta: #f0f;
$cyan: #0ff;
$white: #fff;
$cblue: #00007f; //control color

.BK { background-color: $black; }
.R { background-color: $red; }
.G { background-color: $green; }
.Y { background-color: $yellow; }
.BL { background-color: $blue; }
.M { background-color: $magenta; }
.C { background-color: $cyan; }
.W { background-color: $white; }

.fBK { color: $black; }
.fR { color: $red; }
.fG { color: $green; }
.fY { color: $yellow; }
.fBL { color: $blue; }
.fM { color: $magenta; }
.fC { color: $cyan; }
.fW { color: $white; }

// ** End dynamic styles


// **********
// * Tags
// **********

body {
    position: relative;
}


// **********
// * Layout
// **********

#tools, #canvas {
    float: left;
}

#tools {
    div.toolset {
        float: left;
        margin-right: 10px;
        padding: 10px;
        width: 80px;
        ul {
            border: 3px inset #ccc;
            padding: 5px;
            width: 25px;
            li {
                border: 2px inset #ccc;
                margin-bottom: 5px;
                opacity: .4;
                &.selected {
                    border-style: outset;
                    opacity: 1;
                }
                a {
                    display: block;
                    height: 20px;
                    width: 20px;
                }
            } 
        }
    }
}

#canvas {
    background: #000;
    height: $fh;
    margin-right: 20px;
    position: relative;
    width: $fw;
    table#grid {
        position: absolute;
        left: 0;
        height: 100%;
        top: 0;
        width: 100%;
        td {
            height: $blockY;
            width: $blockX;
            &.overlapping {
            }
            &:hover {
                background-color: #fff;
            }
        }
    }
    #marquee {
        height: $blockY;
        position: absolute;
        width: $blockX;
        #marquee-inner {
            opacity: .5;
            width: 100%;
            height: 100%;
            #control {
                background: $cblue;
                display: none;
                width: $blockX;
            }
            #action {
                background: #fff;
            }
        }
    }
}

