// **********
// * These styles will be set dynamically at some point
// **********

$blockX: 16px;
$blockY: 20px;
$fw: $blockX * 40;
$fh: $blockY * 25;

$bmf: bm, verdana, sans-serif;
$m7f: m7, courier, monospace;

$black: #000;
$red: #f00;
$green: #0f0;
$yellow: #ff0;
$blue: #00f;
$magenta: #f0f;
$cyan: #0ff;
$white: #fff;
$cblue: #00007f; //control color

@function color($col) {
    @if $col == "BK" { @return $black; }
    @if $col == "R" { @return $red; }
    @if $col == "G" { @return $green; }
    @if $col == "Y" { @return $yellow; }
    @if $col == "BL" { @return $blue; }
    @if $col == "M" { @return $magenta; }
    @if $col == "C" { @return $cyan; }
    @if $col == "W" { @return $white; }
} 

@function cursor($col) {
    @if $col == "BK" { @return "light"; }
    @if $col == "R" { @return "light"; }
    @if $col == "G" { @return "dark"; }
    @if $col == "Y" { @return "dark"; }
    @if $col == "BL" { @return "light"; }
    @if $col == "M" { @return "light"; }
    @if $col == "C" { @return "dark"; }
    @if $col == "W" { @return "dark"; }
}

@each $col in BK, R, G, Y, BL, M, C, W {
    .#{$col} {
        background-color: color($col);
        div#cursor {
            background-image: url(../img/#{cursor($col)}_cursor.gif) !important;
        }
    }
    .f-#{$col} {
        color: color($col) !important;
    }
}

// ** End dynamic styles
 

// **********
// * Tags
// **********

body {
    position: relative;
}

// **********
// * Layout
// **********

#tools, #canvas {
    float: left;
}

#tools {
    margin-top: 40px;
    a {
        display:block;
    }
    div.toolset, div.group {
        float: left;
        margin-right: 10px;
        padding: 10px;
        width: 80px;
        ul {
            border: 3px inset #ccc;
            padding: 5px;
            width: 25px;
            li {
                border: 2px inset #ccc;
                margin-bottom: 5px;
                opacity: .4;
                &.selected {
                    border-style: outset;
                    opacity: 1;
                }
                a {
                    display: block;
                    height: 20px;
                    width: 20px;
                }
            } 
        }
    }
    div.group {
        width: auto;
    }
}

.ui-selectable-helper {
    border-color: #fff;
}

#canvas {
    background: #000;
    height: $fh;
    margin-right: 20px;
    position: relative;
    width: $fw;
    z-index: 50;
    &.edit {
        td.ui-selectee {
            opacity: .8;
        }
        td.ui-selected {
            opacity: 1 !important;
        }
    } 
    &.preview {
        div.marquee, div.border {
            border: none !important;
        }
        span.cc, .ui-resizable-handle {
            display: none !important;
        }
    }
    div.toolbar {
        background: #ccc;
        display: none;
        height: 20px;
        left: 0;
        position: absolute;
        top: -20px;
        z-index: 100;
    }
    div.marquee {
        z-index: 50;
        &.collide {
            div.border {
                border-color: #f00 !important;
            }
        }
        div.border {
            border: 1px solid #333;
        }
        &.selected {
            div.border {
                border: 1px dashed #fff;
            }
        }
        &.edit {
            z-index: 49 !important;
        }
    
    }
      
    table.grid {
        height: $fh;
        width: $fw;
        z-index: 50;
        tr {
            td {
                color: #fff;
                float: left;
                position: relative;
                font: normal #{$blockX}/#{$blockY} ttx2;
                height: $blockY;
                width: $blockX;
                z-index: 50;
                span.s {
                    display: none; 
                }
                div#cursor {
                    background-image: url(../img/light_cursor.gif);
                    left: 0;
                    height: $blockY;
                    position: absolute;
                    top: 0;
                    width: $blockX;
                }
                &.graphics {
                    font: normal #{$blockX}/#{$blockY} ttx2gra;
                }
                &:hover {
                    background-color: #fff;
                }
                &.ui-selecting {
                    background-color: #666;
                }

                &.ui-selected {
                    //background-color: yellow !important;
                    span.cc {
                        background: #eee;
                        color: #666;
                    }
                }
                &.ui-selecting {
                    span.cc {
                        background: #f00;
                        color: #000;
                    }
                }
                &.collide {
                    background-color: #f00;
                }
                &.cc {
                    background-color: #000;
                    span.cc {
                        background: #666;
                        display: block;
                        color: #eee;
                        font: normal #{$blockX}/#{$blockY} ttx2gra;
                        height: $blockY;
                        position: relative;
                        width: $blockX;
                        z-index: 100;
                    }
                }
            }
        }
    }
}

