@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/the-cliff\/Dropbox\/web\/teletext2\/client\/css\/main\.scss}line{font-family:\0000319}}
body {
  position: relative; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/the-cliff\/Dropbox\/web\/teletext2\/client\/css\/main\.scss}line{font-family:\0000323}}
#canvas {
  background: #000;
  overflow: hidden; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/the-cliff\/Dropbox\/web\/teletext2\/client\/css\/main\.scss}line{font-family:\0000328}}
#canvas, #canvaswrapper {
  cursor: none;
  float: left;
  height: 322px;
  position: relative;
  width: 480px;
  z-index: 50; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/the-cliff\/Dropbox\/web\/teletext2\/client\/css\/main\.scss}line{font-family:\0000337}}
#canvaswrapper {
  left: 0;
  position: absolute;
  top: 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/the-cliff\/Dropbox\/web\/teletext2\/client\/css\/main\.scss}line{font-family:\0000343}}
#cursor, #stickycursor {
  background: #ccc;
  display: block;
  float: left;
  height: 14px;
  left: 0;
  position: absolute;
  top: 0;
  width: 12px;
  z-index: 100; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/the-cliff\/Dropbox\/web\/teletext2\/client\/css\/main\.scss}line{font-family:\0000355}}
#tools {
  float: left;
  margin: 0 0 0 10px;
  width: 100px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/the-cliff\/Dropbox\/web\/teletext2\/client\/css\/main\.scss}line{font-family:\0000361}}
#tools a {
  background: url(../img/sprite-colors.png);
  display: block;
  height: 13px;
  text-indent: -9999px;
  width: 13px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/the-cliff\/Dropbox\/web\/teletext2\/client\/css\/main\.scss}line{font-family:\0000369}}
#tools div {
  padding-bottom: 10px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/the-cliff\/Dropbox\/web\/teletext2\/client\/css\/main\.scss}line{font-family:\0000373}}
.control {
  color: #fff;
  background: #00007f;
  display: block;
  font: bold 8px/100% bm, verdana, sans-serif;
  height: 14px;
  position: absolute;
  width: 12px;
  z-index: 200; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/the-cliff\/Dropbox\/web\/teletext2\/client\/css\/main\.scss}line{font-family:\0000382}}
  .control.graphics {
    border-right: 2px solid #fff;
    width: 10px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/the-cliff\/Dropbox\/web\/teletext2\/client\/css\/main\.scss}line{font-family:\0000386}}
  .control.background {
    background-image: url(../img/mesh.png); }
