.b_BK, .toolset .f_BK {
  background-color: black !important; }

.b_R, .toolset .f_R {
  background-color: red !important; }

.b_G, .toolset .f_G {
  background-color: lime !important; }

.b_Y, .toolset .f_Y {
  background-color: yellow !important; }

.b_BL, .toolset .f_BL {
  background-color: blue !important; }

.b_M, .toolset .f_M {
  background-color: fuchsia !important; }

.b_C, .toolset .f_C {
  background-color: aqua !important; }

.b_W, .toolset .f_W {
  background-color: white !important; }

.f_BK, .f_BK .marquee-text {
  color: black; }

.f_R, .f_R .marquee-text {
  color: red; }

.f_G, .f_G .marquee-text {
  color: lime; }

.f_Y, .f_Y .marquee-text {
  color: yellow; }

.f_BL, .f_BL .marquee-text {
  color: blue; }

.f_M, .f_M .marquee-text {
  color: fuchsia; }

.f_C, .f_C .marquee-text {
  color: aqua; }

.f_W, .f_W .marquee-text {
  color: white; }

body {
  position: relative; }

#tools, #canvas {
  float: left; }

#tools div.toolset {
  float: left;
  margin-right: 10px;
  padding: 10px;
  width: 80px; }
  #tools div.toolset ul {
    border: 3px inset #ccc;
    padding: 5px;
    width: 25px; }
    #tools div.toolset ul li {
      border: 2px inset #ccc;
      margin-bottom: 5px;
      opacity: .4; }
      #tools div.toolset ul li.selected {
        border-style: outset;
        opacity: 1; }
      #tools div.toolset ul li a {
        display: block;
        height: 20px;
        width: 20px; }

#canvas {
  background: #000;
  height: 500px;
  margin-right: 20px;
  position: relative;
  width: 640px; }
  #canvas table#grid, #canvas table#preview-grid {
    position: absolute;
    left: 0;
    height: 100%;
    top: 0;
    width: 100%; }
    #canvas table#grid td, #canvas table#preview-grid td {
      height: 20px;
      width: 16px; }
      #canvas table#grid td:hover, #canvas table#preview-grid td:hover {
        background-color: #fff; }
  #canvas #marquee-layer {
    left: 0;
    position: absolute;
    top: 0; }
  #canvas .marquee {
    background: #333;
    height: 20px;
    position: absolute;
    width: 16px;
    z-index: 1; }
    #canvas .marquee table {
      width: 100%;
      height: 100%; }
      #canvas .marquee table td {
        height: 100%; }
      #canvas .marquee table .control-left, #canvas .marquee table .control-right {
        background: #00007f;
        display: none;
        width: 16px; }
      #canvas .marquee table .action .fresheditor-toolbar {
        display: none !important; }
      #canvas .marquee table .action .marquee-text {
        border: 0;
        background: transparent;
        display: none;
        float: left;
        font: normal 20px/20px ttx2;
        height: 100%;
        outline: none;
        overflow: hidden;
        padding: 0;
        position: relative;
        resize: none;
        z-index: 100; }
        #canvas .marquee table .action .marquee-text div {
          line-height: 20px; }
    #canvas .marquee.foreground table .action .marquee-text {
      display: block; }
    #canvas .marquee.graphics table .action .marquee-text {
      font-family: ttx2gra; }

#tester {
  background: black;
  color: white;
  font: normal 20px/20px ttx2gra; }
